#
# Install into /etc/systemd/system/multi-user.target.wants/
[Unit]
Description=Smokeping FastCGI daemon
After=remote-fs.target

[Service]
ExecStart=/usr/bin/spawn-fcgi -u smokeping -s /run/smokeping-fcgi.sock -M 600 -n -U www-data -- /usr/share/smokeping/smokeping.cgi
PIDFile=/var/run/smokeping-fcgi.pid
Type=simple

[Install]
WantedBy=multi-user.target
